.root {
/*    -fx-background-color: #c0c0c0;
    -fx-background-radius: 5;
    -fx-padding: 10;*/
/*  -fx-border-insets: 2;

  -fx-background-insets: 2;

  -fx-background-radius: 1;

  -fx-border-radius: 1;

  -fx-border-color: gray;

  -fx-border-style: solid;

  -fx-border-width: 1;*/

  /*-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);*/

}

.home{
    /*-fx-background-color:rgba(0,255,0,0.3);*/
    -fx-background-radius: 30;
/*    -fx-background-size: 30, 30;
    -fx-border-radius:30;
    -fx-graphic-text-gap:0;	
    -fx-padding:0;
    -fx-spacing: 0;
    -fx-border-insets:0;
    -fx-border-radius:0;
    -fx-font-size: 30px;
    -fx-text-fill: black;*/
}
/*.home-battery{
    -fx-background-color:rgba(0,0,255,0.3);
    -fx-background-radius: 30;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.home-alarmed{
    -fx-background-color:rgba(255,0,0,0.3);
    -fx-background-radius: 30;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.home-disconnected{
    -fx-background-color: rgba(100,100,100,0.3);
    -fx-background-radius: 30;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.rootPane
{

  
}
.button {
    -fx-font-weight: bold;
}
.autocompletetextfield { 
    -fx-skin: "com.mytdev.javafx.internal.scene.control.skin.AutoCompleteTextFieldSkin";
}
#exit{
     
    /*     -fx-graphic: url('mine/block.png');
         -fx-content-display:graphic-only;
         -fx-background-color:transparent;*/
/*    -fx-background-color:
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);*/
/*    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;

}*/

#zoom, #exit, #scrollPane, #zoomChoices, #details, #splitPane, #detailTabs {
    
/*     -fx-background-color: #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
     -fx-border-color: #a6b5c9;
    -fx-content-display:graphic-only;*/
    /*-fx-background-color:transparent;*/

}
#details {
    -fx-text-fill: #a6b5c9;
}
 
/*.closebutton {
-fx-background-color: white, white;
-fx-background-radius: 16.4, 15;
-fx-background-insets: -1.4, 0;
-fx-border-radius: 15;
-fx-border-width: 2;
-fx-border-color: dimgrey;
-fx-padding: 0;
-fx-font-size: 0;
}*/

/*#home{
    -fx-graphic: url('mine/HomeSecurity.gif');
    -fx-pref-height:50;
    -fx-pref-width:50;
    -fx-content-display:graphic-only;
    -fx-background-color:transparent;
}*/